html, body {
    background-color: #343940;
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #343940;
    overflow: hidden;
    padding: 14px 16px;
}

.navbar h1 {
    color: white;
    text-align: left;
    margin: 0;
}

.container {
    background-color: #575c66;  /* Un gris más claro que #343940 */
    width: 80%;  /* O el ancho que desees */
    padding: 20px;  /* Espaciado interno */
    margin: 50px auto 50px;  /* Margen superior e inferior */
    min-height: calc(100vh - 100px - 40px);  /* 100px = 50px de margen superior + 50px de margen inferior */
    box-sizing: border-box;  /* Asegura que el padding no afecte el ancho y la altura */
}


/* Puedes ajustar los valores de margin, width y padding según tus necesidades */

.tabs ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333; /* Color de fondo de las pestañas */
}

.tabs li {
    float: left;
}

.tabs li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
}

.tabs li a:hover {
    background-color: #575c66; /* Color cuando se pasa el mouse por encima */
}


