html, body {
    background-color: #292c31;
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #343940;
    overflow: hidden;
    padding: 14px 16px;
}

.navbar h1 {
    color: #eeefef;
    text-align: left;
    margin: 0;
}

.container {
    background-color: #40444d;  /* Un gris más claro que #343940 575c66 */
    width: 80%;  /* O el ancho que desees */
    padding: 20px;  /* Espaciado interno */
    margin: 50px auto 50px;  /* Margen superior e inferior */
    min-height: calc(100vh - 100px - 40px);  /* 100px = 50px de margen superior + 50px de margen inferior */
    box-sizing: border-box;  /* Asegura que el padding no afecte el ancho y la altura */
}


/* Puedes ajustar los valores de margin, width y padding según tus necesidades */

.tabs ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333; /* Color de fondo de las pestañas */
}

.tabs li {
    float: left;
}

.tabs li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
}

.tabs li a:hover {
    background-color: #575c66; /* Color cuando se pasa el mouse por encima */
}

/* Estilos para la tabla */
.full-width-table {
    width: 100%; /* La tabla ocupa todo el ancho disponible */
    border-collapse: collapse; /* Elimina el espacio entre las celdas */
    background-color: #343940; /* Color de fondo para las celdas de la tabla */
}

.full-width-table th,
.full-width-table td {
    color: white; /* Texto blanco para las celdas */
    padding: 10px; /* Espaciado interno en las celdas */
    border-bottom: 2px solid white; /* Línea divisoria blanca entre filas */
}

/* Estilos para las pestañas, como ya los tienes */
.tabs ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.tabs li {
    float: left;
}

.tabs li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
}

.tabs li a:hover {
    background-color: #575c66;
}

.header {
    background-color: #343940; /* Color de fondo del encabezado */
    height: 70px; /* Altura del encabezado */
    line-height: 70px; /* Centrado vertical del texto en el encabezado */
    color: white; /* Color del texto en el encabezado */
    text-align: center; /* Alineación del texto */
    font-size: 24px; /* Tamaño del texto */
}

.header-element {
    padding: 10px 20px; /* Espaciado interno */
    text-align: center; /* Alineación del texto */
}



