<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rigging Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="navbar">
        <h1>Rigging Management</h1>
    </div>

    <div class="container">
        <div class="tabs">
            <ul>
                <li><a href="/rigs">Rigs</a></li>
                <li><a href="/canopies">Canopies</a></li>
                <li><a href="/containers">Containers</a></li>
                <li><a href="/reserves">Reserves</a></li>
                <li><a href="/aad">AAD</a></li>
            </ul>
        </div>
    {% block content %}
    <!-- El contenido específico de cada página se insertará aquí -->
    {% endblock %}
</div>

</body>

</html>
