<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rigging Management</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<body>
<div class="navbar">
    <h1>Rigging Management</h1>
    <div class="logout-link">
        <a href="{{ url_for('auth.logout') }}" class="btn btn-link">Logout</a>
    </div>
</div>

<div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Rigging Management</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="/rigs">Rigs</a></li>
                <li class="nav-item"><a class="nav-link" href="/components/Canopy">Canopies</a></li>
                <li class="nav-item"><a class="nav-link" href="/components/Container">Containers</a></li>
                <li class="nav-item"><a class="nav-link" href="/components/Reserve">Reserves</a></li>
                <li class="nav-item"><a class="nav-link" href="/components/Aad">AAD</a></li>
                <li class="nav-item"><a class="nav-link" href="/components">Components</a></li>
                <li class="nav-item"><a class="nav-link" href="/rigging">Rigging</a></li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        More
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/component_types">Component Types</a>
                        <a class="dropdown-item" href="/sizes">Sizes</a>
                        <a class="dropdown-item" href="/statuses">Statuses</a>
                        <a class="dropdown-item" href="/manufacturers">Manufacturers</a>
                        <a class="dropdown-item" href="/models">Models</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="action-bar">
        <div class="action-bar-right">
            {% if request.path == "/rigs" %}
                <!-- Botón para añadir un nuevo Rig -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newRigModal">New Rig
                </button>
            {% elif request.path == "/components" %}
                <!-- Botón para añadir un nuevo Componente -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newComponentModal">New
                    Component
                </button>
            {% elif request.path == "/rigging" %}
                <!-- Botón para añadir un nuevo Componente -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newRiggingRecordModal">
                    New
                    Rigging Record
                </button>
            {% endif %}
        </div>
    </div>


    {% block content %}
        <!-- El contenido específico de cada página se insertará aquí -->
    {% endblock %}
</div>


<!-- Modal Genérico para Nuevo Componente -->
<div class="modal fade" id="newComponentModal" tabindex="-1" aria-labelledby="newComponentModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <form action="{{ url_for('components.add_component') }}" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addComponentModalLabel">Add</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <!-- Contenido del formulario -->
                    Serial Number: <input type="text" name="serial_number" required><br>
                    Component Type:
                    <select name="component_type_id" required>
                        {% for type in component_types %}
                            {% if type.component_type != 'Rig' %}
                                <option value="{{ type.id }}">{{ type.component_type }}</option>
                            {% endif %}
                        {% endfor %}
                    </select><br>

                    Date of Manufacture: <input type="date" name="dom"><br>
                    Size:
                    <select name="size_id" required>
                        {% for size in component_sizes %}
                            <option value="{{ size.id }}">{{ size.size }}</option>
                        {% endfor %}
                    </select><br>
                    Status:
                    <select name="status_id" required>
                        {% for status in component_statuses %}
                            <option value="{{ status.id }}">{{ status.status }}</option>
                        {% endfor %}
                    </select><br>
                    Model:
                    <select name="model_id" required>
                        {% for model in component_models %}
                            <option value="{{ model.id }}">{{ model.model }}</option>
                        {% endfor %}
                    </select><br>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar Registro</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Modal para Nuevo Rig -->
<div class="modal fade" id="newRigModal" tabindex="-1" aria-labelledby="newRigModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form action="{{ url_for('rigs.add_rig') }}" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newRigModalLabel">Add New Rig</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label for="rig_number">Rig Number:</label>
                    <input type="text" name="rig_number" id="rig_number" required><br>

                    Canopy
                    <select name="canopy" id="canopy">
                        <option value="">-- Select Canopy --</option>
                        {% for canopy in available_canopies %}
                            <option value="{{ canopy.serial_number }}">{{ canopy.serial_number }}</option>
                        {% endfor %}
                    </select><br>

                    Container
                    <select name="container" id="container">
                        <option value="">-- Select Container --</option>
                        {% for container in available_containers %}
                            <option value="{{ container.serial_number }}">{{ container.serial_number }}</option>
                        {% endfor %}
                    </select><br>

                    Reserve
                    <select name="reserve" id="reserve">
                        <option value="">-- Select Reserve --</option>
                        {% for reserve in available_reserves %}
                            <option value="{{ reserve.serial_number }}">{{ reserve.serial_number }}</option>
                        {% endfor %}
                    </select><br>

                    AAD
                    <select name="aad" id="aad">
                        <option value="">-- Select Aad --</option>
                        {% for aad in available_aads %}
                            <option value="{{ aad.serial_number }}">{{ aad.serial_number }}</option>
                        {% endfor %}
                    </select><br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save Rig</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Modal para Nuevo Rigging record -->
<div class="modal fade" id="newRiggingRecordModal" tabindex="-1" aria-labelledby="newRiggingRecordModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <form action="{{ url_for('rigging.rigging_add') }}" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newRiggingRecordModalLabel">Add New Rigging</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label for="date">Fecha:</label>
                    <input type="date" name="date" id="date" required><br>

                    <label for="type_rigging">Tipo de Rigging:</label>
                    <select name="type_rigging" id="type_rigging" required>
                        {% for type in rigging_types %}
                            <option value="{{ type.id }}">{{ type.name }}</option>
                        {% endfor %}
                    </select><br>

                    <label for="serial_numbers">Seleccionar número de serie:</label>

                    <select id="serial_numbers" name="serial_numbers" required>
                        <optgroup label="Componentes">
                            {% for component in components %}
                                <option value="Component-{{ component.id }}"
                                        {% if rigging.component_id == component.id %}selected{% endif %}>
                                    {{ component.serial_number }}
                                </option>
                            {% endfor %}
                        </optgroup>
                        <optgroup label="Rigs">
                            {% for rig in rigs %}
                                <option value="Rig-{{ rig.id }}" {% if rigging.rig_id == rig.id %}selected{% endif %}>
                                    {{ rig.rig_number }}
                                </option>
                            {% endfor %}
                        </optgroup>
                    </select><br>

                    <label for="description">Descripción:</label>
                    <textarea name="description" id="description">{{ rigging.description }}</textarea>
                    <br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save Rig</button>
                </div>
            </div>
        </form>
    </div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Verificar si la URL actual corresponde a la pestaña "Rigs"
        if (window.location.pathname === '/rigs') {
            // Agregar evento de clic a cada fila de la tabla de rigs
            document.querySelectorAll('.full-width-table-rig tbody tr').forEach(row => {
                row.addEventListener('click', function () {
                    // Redirige a la página del rig
                    const rigId = row.getAttribute('data-id');
                    window.location.href = `/rig/${rigId}`;
                });
            });
        } else if (window.location.pathname.includes('/rigging')) {
            // Agregar evento de clic a cada fila de la tabla de rigging
            document.querySelectorAll('.full-width-table-rigging tbody tr').forEach(row => {
                row.addEventListener('click', function () {
                    // Redirige a la página de detalles de rigging
                    const riggingId = row.getAttribute('data-id');
                    window.location.href = `/rigging/${riggingId}`;
                });
            });
        } else {
            // Agregar evento de clic a cada fila de la tabla de componentes
            document.querySelectorAll('.full-width-table tbody tr').forEach(row => {
                row.addEventListener('click', function () {
                    // Redirige a la página del componente
                    const componentId = row.getAttribute('data-id');
                    window.location.href = `/component/show/${componentId}`;
                });
            });
        }
    });
</script>


<!-- jQuery y Popper.js (necesarios para Bootstrap) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>


</body>
</html>


