<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de Rigging</title>
</head>
<body>
    <div class="container">
        <h2>Detalles de Rigging</h2>
        <ul>
            {% for rigging in rigging %}
                <li>
                    Fecha: {{ rigging.date.strftime('%Y-%m-%d') }}
                    <br>
                    Número de serie: {{ rigging.serial_numbers }}
                    {% if rigging.rig_id %}
                        <br>
                        Rig asociado: {{ rigging.rig_id.rig_number }}
                    {% elif rigging.component_id %}
                        <br>
                        Componente asociado: {{ rigging.component_id.serial_number }}
                    {% else %}
                        <br>
                        No asociado a Rig o Componente específico.
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        <a href="{{ url_for('rigging_add') }}">Añadir nuevo Rigging</a>
    </div>
</body>
</html>

