{% extends 'index.html' %}

{% block content %}
    <table class="full-width-table">
        <thead class="header">
        <tr>
            <th>Date</th>
            <th>Rigger</th>
            <th>Action</th>
            <th>Serial N</th>
            <th>Component</th>
        </tr>
        </thead>
        <tbody>
        {% for rigging in rigging %}
            <tr class="clickable-row" data-id="{{ rigging.id }}">
                <td>{{ rigging.date | default('', true) }}</td>
                <td>{{ rigging.rigger | default('', true) }}</td>
                <td>{{ rigging.type_rigging | default('', true) }}</td>
                <td>{{ rigging.serial_numbers | default('', true) }}</td>
                <td>{{ rigging.component_id.component_type  | default('', true)}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll('.clickable-row').forEach(row => {
                row.addEventListener('click', function () {
                    let componentId = this.getAttribute('data-id');
                    window.location.href = `/rigging/${riggingId}`;
                });
            });
        });
    </script>
{% endblock %}