{% extends 'index.html' %}

{% block content %}
    <div class="container mt-4" style="color: white;">
        <h2>Detalles del Componente: {{ component.serial_number }}</h2>
        <table class="table table-bordered" style="color: white;">
            <tbody>
            <tr>
                <th>Serial Number</th>
                <td>{{ component.serial_number }}</td>
            </tr>
            <tr>
                <th>Modelo</th>
                <td>{{ component.model | default('') }}</td>
            </tr>
            <tr>
                <th>DOM</th>
                <td>{{ component.dom.strftime('%Y-%m-%d') if component.dom else '' }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ component.component_status | default('') }}</td>
            </tr>
            <tr>
                <th>Montedo en</th>
                <td>{{ component.rig.rig_number if component.rig else '' }}</td>
            </tr>
            <!-- Agrega más filas según sea necesario para otros atributos del componente -->
            </tbody>
        </table>


        <h3>Registros de Rigging</h3>
        {% if riggings %}
            <table class="table table-striped" style="color: white;">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Rigger</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                {% for rigging in riggings %}
                    <tr>
                        <td>{{ rigging.date if rigging.date else '' }}</td>
                        <td>{{ rigging.rigger if component.dom else '' }}</td>
                        <td>{{ rigging.type_rigging.name if rigging.type_rigging else '' }}</td>
                        <td>{{ rigging.description | default('') }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No hay registros de rigging asociados a este componente.</p>
        {% endif %}
    </div>
{% endblock %}
