<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del Componente</title>
</head>
<body>
    <div class="container">
        <h2>Detalle del Componente</h2>
        <p><strong>ID:</strong> {{ component.id }}</p>
        <p><strong>Tipo:</strong> {{ component.component_type.component_type }}</p>
        <p><strong>Número de Serie:</strong> {{ component.serial_number }}</p>
        <p><strong>Fecha de Manufactura:</strong> {{ component.dom }}</p>
        <!-- Agrega aquí más detalles según los campos de tu modelo Component -->

        <h3>Registros de Rigging</h3>
        <table>
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Descripción</th>
                    <th>Número de Serie</th>
                </tr>
            </thead>
            <tbody>
                {% for rigging in riggings %}
                <tr>
                    <td>{{ rigging.date.strftime('%Y-%m-%d') }}</td>
                    <td>{{ rigging.description }}</td>
                    <td>{{ rigging.serial_numbers }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


        <!-- Botón para regresar a la lista de componentes -->
        <a href="{{ url_for('view_components') }}">Volver a la lista</a>
        <a href="{{ url_for('rigging_add', component_id=component.id) }}" class="btn btn-primary">Añadir Rigging</a>
    </div>
</body>
</html>
