{% extends 'index.html' %}

{% block content %}
<table class="full-width-table">
    <thead class="header">
        <tr>
            <th>Serial Number</th>
            <th>Model</th>
            {% if not is_aad %}<th>Size</th>{% endif %}
            <th>Dom</th>
            <th>Mounted On</th>
        </tr>
    </thead>
    <tbody>
        {% for component in components %}
        <tr data-toggle="modal" data-target="#componentModal-{{ component.id }}">
            <td>{{ component.serial_number | default('', true) }}</td>
            <td>{{ component.model | default('', true) }}</td>
            {% if not is_aad %}<td>{{ component.sizes.size | default('', true) }}</td>{% endif %}
            <td>{{ component.dom | default('', true) }}</td>
            <td>{{ component.rig.rig_number if component.rig else '' }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% for component in components %}
<div class="modal fade" id="componentModal-{{ component.id }}" tabindex="-1" role="dialog" aria-labelledby="componentModalLabel-{{ component.id }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-body">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="view-tab" data-toggle="tab" href="#view{{ component.id }}" role="tab" aria-controls="view" aria-selected="true">View</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="edit-tab" data-toggle="tab" href="#edit{{ component.id }}" role="tab" aria-controls="edit" aria-selected="false">Edit</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="rigging-tab" data-toggle="tab" href="#rigging{{ component.id }}" role="tab" aria-controls="rigging" aria-selected="false">Rigging</a>
                    </li>
                </ul>

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="view{{ component.id }}" role="tabpanel" aria-labelledby="view-tab">
                        <!-- Contenido de la pestaña View -->
                        <p><strong>ID:</strong> {{ component.id }}</p>
                        <p><strong>Tipo:</strong> {{ component.component_type.component_type }}</p>
                        <p><strong>Número de Serie:</strong> {{ component.serial_number }}</p>
                        <p><strong>Fecha de Manufactura:</strong> {{ component.dom }}</p>
                    </div>
                    <div class="tab-pane fade" id="edit{{ component.id }}" role="tabpanel" aria-labelledby="edit-tab">
                        <!-- Contenido de la pestaña Edit -->
                        <p>Formulario de edición del componente.</p>
                    </div>
                    <div class="tab-pane fade" id="rigging{{ component.id }}" role="tabpanel" aria-labelledby="rigging-tab">
                        <h3>Registros de Rigging</h3>
                        <div class="list-group">
                            <div class="list-group-item list-group-item-action active">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Fecha</h5>
                                    <small>Rigger</small>
                                    <small>Descripción</small>
                                    <small>Número de Serie</small>
                                    <small>Acciones</small>
                                </div>
                            </div>
                            {% for rigging in component.riggings %}
                            <div class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">{{ rigging.date.strftime('%Y-%m-%d') }}</h5>
                                    <small>{{ rigging.rigger.username }}</small>
                                    <small>{{ rigging.description }}</small>
                                    <small>{{ rigging.serial_numbers }}</small>
                                    <small>
                                        <a href="{{ url_for('edit_rigging', rigging_id=rigging.id) }}" class="btn btn-primary btn-sm">Editar</a>
                                        <a href="{{ url_for('delete_rigging', rigging_id=rigging.id) }}" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de que quieres eliminar este registro de rigging?');">Eliminar</a>
                                    </small>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>


                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}

