<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Status </title>
</head>
<body>
    <h1>Statuses</h1>
    <a href="{{ url_for('add_status') }}">Add New Status</a>
    <ul>
        {% for status in statuses %}
            <li>{{ status.status }}
                <a href="{{ url_for('edit_status', id=status.id) }}">Edit</a>
                <form action="{{ url_for('delete_status', id=status.id) }}" method="post" style="display: inline;">
                    <input type="submit" value="Delete">
                </form>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('index') }}">Back to Index</a>
</body>
</html>